{
  "AFilmix": {
    "enable": true,
    "token": "***"
  },
  "BaseModule": {
    "SkipModules": [
      "GStreamer",
      "Transcoding",
      "WebLog",
      "CacheMedia",
      "Potok",
      "TelegramAuth",
      "TelegramAuthBot"
    ]
  },
  "chromium": {
    "enable": true,
    "executablePath": "/usr/bin/chromium",
    "Args": ["--no-sandbox", "--disable-setuid-sandbox"]
  },
  "listen": {
    "port": 9118
  }
}
