{
  "AFilmix": {
    "enable": true,
    "token": "***"
  },
  "BaseModule": {
    "SkipModules": [
      "GStreamer",
      "Transcoding",
      "WebLog",
      "CacheMedia",
      "Potok",
      "TelegramAuth",
      "TelegramAuthBot",
      "VidSrc",
      "VidLink",
      "Videasy",
      "MovPI",
      "SmashyStream",
      "PizdatoeHD",
      "Vibix",
      "Kinoflix",
      "RutubeMovie",
      "VkMovie"
    ]
  },
  "chromium": {
    "enable": true,
    "executablePath": "/usr/bin/chromium",
    "Args": ["--no-sandbox", "--disable-setuid-sandbox"]
  },
  "listen": {
    "port": 9118
  }
}
